*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 20px;
}

.headerContainer img{
    height: 20px;
    padding-top: 20px;
    padding-left: 30px;
}


.headerContainer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding-top: 10px;
    color: rgb(177, 172, 172);
}

.headerContainer li{
    cursor: pointer;
    font-size: 15px;
}

.borderContainer{
    height: 7vh;
}

.headerContainer li:hover{
    color: rgba(0, 0, 0, 0.726);
    border-bottom: 5px solid limegreen;   
}

.buttonElement{
    cursor: pointer;
    border-radius: 25px;
    width: 140px;
    height: 40px;
    margin-top: 5px;
    border: none;
    background: linear-gradient(90deg, hsl(136, 65%, 51%) ,  hsl(192, 70%, 51%));
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.buttonElement:hover{
    background: linear-gradient(90deg, hsla(136, 65%, 51%, 0.527) ,  hsla(192, 70%, 51%, 0.562));
}

.section1{
    background-color: hsla(200, 10%, 94%, 0.322);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 750px;
    gap: 300px;
    overflow: hidden;
    background-image: url(./images/bg-intro-desktop.svg);
    background-position: 60vw -20vh;
    background-repeat: no-repeat;
}

.section1A{
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.section1A p{
    color: rgba(37, 36, 36, 0.712);
    line-height: 1.7;
}

.section1 span{
    font-size: 60px;
    color: rgba(0, 0, 0, 0.829);
}

.section1BNav{
    cursor: pointer;
    background-color: white;
    margin-top: 15vmax;
    width: 80vw;
    text-align: center;
    border-radius: 5px;
    display: none;
}

.section1BNav ul{
    list-style: none;
    line-height: 3.5;
    padding-left: 40%;
}

.section1B ul :hover{
    color: limegreen;
}

.toggle{
    display: none;
}

.section2{
    background-color: hsla(200, 10%, 94%, 0.795);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
    box-sizing: border-box;
    justify-content: center;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('./images/image-mockups-edited-new.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.section2B{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

.section2A span{
    font-size: 35px;
    padding-top: 40px;
    color: rgba(0, 0, 0, 0.829);
}

.section2A p{
    color: rgba(37, 36, 36, 0.575);
}
.description{
    padding-top: 20px;
    padding-bottom: 5px;
}
.section3{
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: hsla(200, 10%, 94%, 0.322);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 60px;
}

.section3 h1{
    font-weight: normal;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.829);
}

.section3A{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.section3A img{
    height: 20vh;
    width: 15vw;
    padding-bottom: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(233, 26%, 24%);
    box-sizing: border-box;
    padding: 50px;
}

.subSection1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subSection2{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.subSection2 li{
    cursor: pointer;
    font-size: 15px;
    color: rgba(238, 223, 223, 0.89);
}


.subSection2 li:hover{
    color: hsl(136, 65%, 51%);
}

.section2B img{
    padding-bottom: 35px;
}

.section2B h1{
    font-weight: normal;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.815);
    padding-bottom: 30px;
}

.section2B p{
    color: rgba(37, 36, 36, 0.486);
    font-size: 15px;
    line-height: 1.5;
}

.section2B1,
.section2B2,
.section2B3,
.section2B4{
    width: 15vw;
}

.section3first,
.section3second,
.section3third,
.section3fourth{
    overflow: hidden;
    height: 45vh;
    width: 15vw;
    border-radius: 5px;
    background-color: white;
}

.footerNav1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerNav2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icons{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons img:hover{
    background-color: limegreen;
}

.section3 h5{
    font-weight: normal;
    color: rgba(37, 36, 36, 0.486);
    font-size: 13px;
    padding-left: 10px;
}

.section3A h3{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.61);
    padding: 10px;
    font-weight:500;
}

.section3A h3:hover{
    color: hsl(136, 65%, 51%);
}

.section3A p{
    color: rgba(0, 0, 0, 0.418);
    font-size: 15px;
    padding: 10px;
}

.footer ul{
    list-style: none;
    color: white;
}

.footer input[type="button"]{
    border-radius: 20px;
    border: none;
}


.subSection3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.subSection3 p{
    color: rgba(224, 208, 208, 0.603);
    font-size: 15px;
}

.section1BImgMobile{
    display: none;
}

@media screen and (max-width: 1580px){
    .section2{
        background-image: none;
    }
}

@media screen and (max-width: 1200px){

    .headerContainer nav{
        display: none;
    }
    .headerContainer input[type="button"]{
        display: none;
    }

    .toggle{
        display: flex;
        width: 10vw;
        margin-right: 5vw;
        background-image: url('./images/icon-hamburger.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        background-color: white;
    }

    .headerContainer{
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .section1BImg{
        display: none;
    }

    .section1BImgMobile{
        display: flex;
    }

    .section1{
        /* box-sizing: border-box; */
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 100px;
        /* height: 110vh; */
        background-image: url(./images/bg-intro-mobile.svg);
        background-position: 10vw 0vh;
        background-repeat: no-repeat;
        padding-bottom: 80px;
    }

    .section1B{
        box-sizing: border-box;
        margin-top: -150px ;
    }

    .section1A{
        /* margin-top: -150px; */
        box-sizing: border-box;
        margin-left: -150px;
        padding-right: 25px;
        padding-bottom: 50px;
    }

    .section1A span{
        font-size: 40px;
    }

    .section1A p{
        font-size: 15px;
        padding-bottom: 30px;
    }

    .section1A input[type="button"]{
        margin-left: 20%;
    }

    .section2{
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        text-align: center;
        background-image: none;
    }

    .section2 span{
        font-size: 35px;
    }

    .section2 p{
        font-size: 15px;
    }

    .section2A{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section2B{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vw;
        text-align: center;
    }

    .section2B1,
    .section2B2,
    .section2B3,
    .section2B4{
        width: 70vw;
    }

    .section3{
        align-items: center;
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
    }

    .section3 h1{
        font-size: 35px;
        width: 80vw;
        text-align: center;
    }

    .section3A{
        padding-left: 0;
        flex-direction: column;
        gap: 40px;
    }

    .section3A img{
        width: 100vw;
    }

    .section3first,
    .section3second,
    .section3third,
    .section3fourth{
        overflow: hidden;
        height: 45vh;
        width: 80vw;
        border-radius: 5px;
        background-color: white;
    }

    .footer{
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 100px;
    }

    .icons{
        margin: 20px;
        gap: 25px;
    }

    .footerLogo{
        width: 40vw;
    }

    .subSection1{
        align-items: center;
    }

    .subSection2{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footerNav2,
    .footerNav1{
        align-items: center;
    }

    .footerNav1 li{
        color: white;
    }

    .footerNav2 li{
        color: white;
    }

    .subSection3{
        align-items: center;
        gap: 20px;
    }

    .subSection3 p{
        padding-top: 20px;
        font-size: 15px;
    }
    
}